* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    margin: 10px auto;
    width: 430px;
}

#display {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#buttons {
    height: 540px;
    display: flex;
    gap: 10px;
}

.button {
    width: 100px;
    height: 100px;
}

#enter-button {
    height: 210px;
}

#zero-button {
    width: 210px;
}

#first-two-columns, #last-two-columns {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#last-two-columns {
    flex-direction: column;
}